<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ui.espresso" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="UI-Espresso-Testing"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.ui.espresso.activities.MainActivity"
            android:label="UI-Espresso-Testing" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ui.espresso.activities.EnterNameActivity"
            android:label="@string/title_activity_enter_name" />
        <activity
            android:name="com.ui.espresso.activities.DisplayNameActivity"
            android:label="@string/title_activity_display_name" />
        <activity
            android:name="com.ui.espresso.activities.SpinnerSelectionActivity"
            android:label="@string/title_activity_spinner_selection" />
        <activity
            android:name="com.ui.espresso.activities.CustomListActivity"
            android:label="@string/title_activity_custom_list" />
        <activity
            android:name="com.ui.espresso.activities.NamesListActivity"
            android:label="PersonlistActiviey" />
        <activity
            android:name="com.ui.espresso.activities.PersonDetailsActivity"
            android:label="@string/person_list_adapter" />
        <activity
            android:name="com.ui.espresso.activities.BookDetailsActivity"
            android:label="@string/title_activity_book_details" />
        <activity
            android:name="com.ui.espresso.activities.SearchableActivity"
            android:label="@string/title_activity_searchable" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name="com.ui.espresso.activities.SearchViewActivity"
            android:label="@string/title_activity_search_view" />

        <provider
            android:name="com.ui.espresso.provider.AppRecentSearchesProvider"
            android:authorities="com.ui.espresso"
            android:exported="false" />

        <activity
            android:name="com.ui.espresso.activities.ActionBarExampleActivity"
            android:label="@string/title_activity_action_bar_example" >
        </activity>
        <activity
            android:name="com.ui.espresso.activities.ViewPagerActivity"
            android:label="@string/title_activity_view_pager" >
        </activity>
        <activity
            android:name="com.ui.espresso.activities.DialogExampleActivity"
            android:label="@string/title_activity_dialog_example" >
        </activity>
        <activity
            android:name="com.ui.espresso.activities.RecyclerViewActivity"
            android:label="@string/title_activity_recycler_view" >
        </activity>
        <activity
            android:name="com.ui.espresso.activities.DateTimePickerActivity"
            android:label="@string/title_activity_date_time_picker" >
        </activity>
    </application>

</manifest>
